* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    background: url(../img/fundo-site.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#header {
    height: 150px;
    background: url(../img/topo-mapa.png) no-repeat right top;
    padding-top: 25px;
  /*  border: 1px solid greenyellow;*/
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../img/logo-patu.png) no-repeat center;
    text-indent: -3000px;
}

#menu-site {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header ul {
    margin-top: 30px;
    background-color: #b10333;
    display: flex;
    justify-content: start;
}

#header ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #FFF;
    background: url(../img/divisor.png) no-repeat left center;
}

#header ul a:hover {
    color: #69001a;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos 
{
    color: #fff;
    background: #de003e;
    cursor: text;
}

#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-column-gap: 15px;
    overflow: hidden;
}

#duas-colunas #conteudo {
    margin-top: 60px;
    background: #f5f5f5;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 15px;
    overflow: hidden;
}

#uma-coluna #conteudo-foto {
    margin-top: 60px;
    background: #f5f5f5;
    display: grid;
    overflow: hidden;
}

.caixa {
    margin: 10px 0;
    padding: 5px;;
    background-color: #f3f3f3;
}

.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../img/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

#btn-enviar {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
}
h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: #fff;
}

.entrevista h3 {
    background: #de003e;
}

.lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

.lista-noticias li a img {
    float: left;
    margin: 5px;
}

.lista-noticias li a{
    text-decoration: none;
}

.lista-noticias li a h3 {
    font-size: 0.8em;
    padding: 0;
}

.lista-noticias li a p {
    font-size: 0.7em;
}

.lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}
img.imagem-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}
footer {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}